<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body {
            background-color: lavender;
        }
        .card {
            background-color: white;
            break-inside: avoid;
        }
        .card__image {
            width: 100%;
            object-fit: cover;
        }

        .layout-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
        }
    </style>
</head>
<body>
    <section class="layout-grid">
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita,
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 2</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 3</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 4</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 5</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, 
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 6</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 7</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam    
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 8</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 9</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis 
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 10</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 11</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, voluptates aspernatur dignissimos soluta officiis eius aperiam
            </p>
        </article>
        <article class="card">
            <img class="card__image" src="https://dummyimage.com/600" alt="">
            <h2>Curso 12</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita, 
            </p>
        </article>
    </section>
</body>
</html>